
/* reset*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: #514418;
}

a{
    text-decoration: none;
    color:#023b13; font-weight: 900;
}

ul{
    list-style: none;
}

/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {*/
/*    display: block;*/
/*}*/

/* Header Section */
header {
    display: flex;
    flex-direction: column;
    /*background: url("../images/events_bg.jpg");*/
    /*background: rgba(58, 90, 64, 0.8);*/
    background: linear-gradient(#DAD7CD, #344E41);
    background-size: cover;

    color: #fff;
    padding: 1em 0;
    text-align: center;
    height: 460px;
    /*justify-content: space-between;*/
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    display: flex;
    justify-content: space-between;
}

header ul li{
    padding: 0 1em;
}

header ul li a{
    /*color: #fff;*/
    text-decoration: none;
    font-weight: bold;
    color: hwb(170 1% 61%);
}

header img {
    width: 200px;
    height: 100px;
    border: 5px solid #fff;
}

#searchBar{
    padding: 180px;
}

#searchBar input[type=text]{
    padding: 1em;
    border-radius: 50px;
    width: 500px;
    text-align: center;
}

#searchBar input[type=text]:focus{
    outline: none;
}

#searchBar input[type=submit]{
    background-color: goldenrod;
    font-weight: bolder;
    padding: 1em;
}

main{
    /*padding: 2em 0;*/
}

main #cat-filtering{
    padding: 2em 0;
}

#cat-filtering{
    display: flex;
    justify-content: center;

}

#cat-filtering ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#cat-filtering ul li{
    padding: 0 1.5em;
}

#cat-filtering ul li a{
    /*color: #4d4b4b;*/
    font-weight: bolder;
}


.main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.event-card{

}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer p{
    padding: 0 1em;
}
